<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZmqSendFile_PUSHPULL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZmqSendFile_PUSHPULL.Properties.Settings>
            <setting name="SinkPort" serializeAs="String">
                <value>5558</value>
            </setting>
            <setting name="SinkAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="VentPort" serializeAs="String">
                <value>5557</value>
            </setting>
            <setting name="VentAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </ZmqSendFile_PUSHPULL.Properties.Settings>
    </userSettings>
</configuration>