<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >

  <variable name="logDirectory" value="logs"/>
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="target1" fileName="${logDirectory}/${level}_${shortdate}.txt"
            layout="${message} ${exception}${newline}${date}|${level:uppercase=true}" />
    <target xsi:type="Console" name="consoleTarget"
            layout="${message} ${exception}${newline}${date}|${level:uppercase=true}|${logger}|${all-event-properties}" />
  
    
    <target xsi:type="File" name="mp3TagLogTarget" fileName="${logDirectory}/mp3Tag_${level}_${shortdate}.txt"
            layout="${message} ${exception}${newline}${date}|${level:uppercase=true}|${logger}|${all-event-properties}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="target1,consoleTarget" />
    <logger name="mp3TagLog" minlevel="Trace" writeTo="mp3TagLogTarget,consoleTarget" />
  </rules>
</nlog>