<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--目前只生成Key为UserId的-->
    <!--348050423: 剑如长虹气如玉-->
    <add key="UserId" value="348050423" />
    <!--其它id: 戯知COregained-->
    <add key="UserId2" value="15340152" />  
  </appSettings>
</configuration>